<div class="wrap-container ps-2 d-flex flex-column m-5">
    <div class="wrap-container-title pt-5 fs-1 fw-medium">Редактирование категории доходов</div>
    <form class="mt-5">
        <div class="mb-3">
            <input type="text" class="form-control" id="nameEditIncomeElement" placeholder="Название..." value="Зарплата">
        </div>
        <div class="create-buttons d-flex gap-3">
            <button type="button" class="btn btn-success">Сохранить</button>
            <button type="button" class="btn btn-danger">Отмена</button>
        </div>

    </form>
</div>