<div class="wrap-container ps-2 d-flex flex-column m-5">
    <div class="wrap-container d-flex flex-column">
        <div class="wrap-container-title pt-5 fs-1 fw-medium">Доходы</div>
        <div class="income-elements d-flex flex-wrap gap-3 mt-5">
            <div class="income-element d-flex flex-column justify-content-center">
                <div class="income-element-title ps-3">Депозиты</div>
                <div class="income-element-buttons ps-3 mt-3">
                    <a href="/incomes/edit" class="btn btn-primary me-2">Редактировать</a>
                    <a href="/incomes/popup" class="btn btn-danger">Удалить</a>
                </div>
            </div>
            <div class="income-element d-flex flex-column justify-content-center">
                <div class="income-element-title ps-3">Зарплата</div>
                <div class="income-element-buttons ps-3 mt-3">
                    <a href="/incomes/edit" class="btn btn-primary me-2">Редактировать</a>
                    <a href="/incomes/popup" class="btn btn-danger">Удалить</a>
                </div>
            </div>
            <div class="income-element d-flex flex-column justify-content-center">
                <div class="income-element-title ps-3">Сбережения</div>
                <div class="income-element-buttons ps-3 mt-3">
                    <a href="/incomes/edit" class="btn btn-primary me-2">Редактировать</a>
                    <a href="/incomes/popup" class="btn btn-danger">Удалить</a>
                </div>
            </div>
            <div class="income-element d-flex flex-column justify-content-center">
                <div class="income-element-title ps-3">Инвестиции</div>
                <div class="income-element-buttons ps-3 mt-3">
                    <a href="/incomes/edit" class="btn btn-primary me-2">Редактировать</a>
                    <a href="/incomes/popup" class="btn btn-danger">Удалить</a>
                </div>
            </div>
            <a href="/incomes/create"  class="income-element d-flex flex-column align-items-center justify-content-center text-decoration-none">
                <i class="fas fa-plus text-secondary"></i>
            </a>
        </div>
    </div>