<div class="wrap-container ps-2 d-flex flex-column m-5">
    <div class="wrap-container-title pt-5 fs-1 fw-medium">Редактирование дохода/расхода</div>
    <form class="mt-5">
        <div class="mb-3">
            <input type="text" class="form-control" id="typeEditGeneralElement" placeholder="Тип..." value="Доход">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="categoryEditGeneralElement" placeholder="Категория..." value="Зарплата">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="sumCreateEditElement" placeholder="Сумма в $..." value="500$">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="dataCreateEditElement" placeholder="Дата..." value="11.09.2022">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="commentCreateEditElement" placeholder="Комментарий..." value="">
        </div>
        <div class="create-buttons d-flex gap-3">
            <button type="button" class="btn btn-success">Сохранить</button>
            <button type="button" class="btn btn-danger">Отмена</button>
        </div>
    </form>
</div>