<div class="wrap-container ps-2 d-flex flex-column m-5">
    <div class="wrap-container-title pt-5 fs-1 fw-medium">Расходы</div>
    <div class="income-elements d-flex flex-wrap gap-3 mt-5">
        <div class="income-element d-flex flex-column justify-content-center">
            <div class="income-element-title ps-3">Еда</div>
            <div class="income-element-buttons ps-3 mt-3">
                <a href="/expenses/edit" class="btn btn-primary me-2">Редактировать</a>
                <a href="/expenses/popup" class="btn btn-danger">Удалить</a>
            </div>
        </div>
        <div class="income-element d-flex flex-column justify-content-center">
            <div class="income-element-title ps-3">Жилье</div>
            <div class="income-element-buttons ps-3 mt-3">
                <a href="/expenses/edit" class="btn btn-primary me-2">Редактировать</a>
                <a href="/expenses/popup" class="btn btn-danger">Удалить</a>
            </div>
        </div>
        <div class="income-element d-flex flex-column justify-content-center">
            <div class="income-element-title ps-3">Здоровье</div>
            <div class="income-element-buttons ps-3 mt-3">
                <a href="/expenses/edit" class="btn btn-primary me-2">Редактировать</a>
                <a href="/expenses/popup" class="btn btn-danger">Удалить</a>
            </div>
        </div>
        <div class="income-element d-flex flex-column justify-content-center">
            <div class="income-element-title ps-3">Кафе</div>
            <div class="income-element-buttons ps-3 mt-3">
                <a href="/expenses/edit" class="btn btn-primary me-2">Редактировать</a>
                <a href="/expenses/popup" class="btn btn-danger">Удалить</a>
            </div>
        </div>
        <div class="income-element d-flex flex-column justify-content-center">
            <div class="income-element-title ps-3">Авто</div>
            <div class="income-element-buttons ps-3 mt-3">
                <a href="/expenses/edit" class="btn btn-primary me-2">Редактировать</a>
                <a href="/expenses/popup" class="btn btn-danger">Удалить</a>
            </div>
        </div>
        <div class="income-element d-flex flex-column justify-content-center">
            <div class="income-element-title ps-3">Одежда</div>
            <div class="income-element-buttons ps-3 mt-3">
                <a href="/expenses/edit" class="btn btn-primary me-2">Редактировать</a>
                <a href="/expenses/popup" class="btn btn-danger">Удалить</a>
            </div>
        </div>
        <div class="income-element d-flex flex-column justify-content-center">
            <div class="income-element-title ps-3">Развлечения</div>
            <div class="income-element-buttons ps-3 mt-3">
                <a href="/expenses/edit" class="btn btn-primary me-2">Редактировать</a>
                <a href="/expenses/popup" class="btn btn-danger">Удалить</a>
            </div>
        </div>
        <div class="income-element d-flex flex-column justify-content-center">
            <div class="income-element-title ps-3">Счета</div>
            <div class="income-element-buttons ps-3 mt-3">
                <a href="/expenses/edit" class="btn btn-primary me-2">Редактировать</a>
                <a href="/expenses/popup" class="btn btn-danger">Удалить</a>
            </div>
        </div>
        <div class="income-element d-flex flex-column justify-content-center">
            <div class="income-element-title ps-3">Спорт</div>
            <div class="income-element-buttons ps-3 mt-3">
                <a href="/expenses/edit" class="btn btn-primary me-2">Редактировать</a>
                <a href="/expenses/popup" class="btn btn-danger">Удалить</a>
            </div>
        </div>

        <a href="/expenses/create" class="income-element d-flex flex-column align-items-center justify-content-center text-decoration-none">
            <i class="fas fa-plus text-secondary"></i>
        </a>
    </div>
</div>